.todo-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-form {
  margin-bottom: 20px;
}

.todo-lists__item,
.todo-lists__item li {
  display: flex;
}
.todo-lists__item {
  flex-direction: column;
}
.todo-lists__item li {
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  animation: slide-in-elliptic-right-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.todo-lists__item li span:first-child {
  width: 20%;
  text-align: center;
}
.todo-lists__item li span:last-child {
  width: 80%;
  text-align: center;
}

.todo-lists__item li span button,
.todo-lists__item li span {
  font-size: 35px;
  font-weight: 600;
  color: white;
}
.todo-lists__item li span button {
  background-color: transparent;
  border: none;
}

.todo-lists__item li span button:active {
  transform: scale(0.9);
}

@keyframes slide-in-elliptic-right-fwd {
  0% {
    -webkit-transform: translateX(800px) rotateY(-30deg) scale(0);
    transform: translateX(800px) rotateY(-30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
    transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
    transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: -1800px 50%;
    transform-origin: -1800px 50%;
    opacity: 1;
  }
}
